.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.hard-shadow {
    box-shadow: 4px 4px 0px 0px #964900;
}
.hard-shadow-hover:hover {
    box-shadow: 6px 6px 0px 0px #964900;
    transform: translate(-2px, -2px);
}
.grid-line-x {
    background-image: linear-gradient(to right, rgba(26, 28, 28, 0.1) 1px, transparent 1px);
    background-size: 8.333333% 100%;
}
@keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
.animate-ticker {
    display: flex;
    width: fit-content;
    animation: ticker 30s linear infinite;
}
/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f9f9f9; }
::-webkit-scrollbar-thumb { background: #964900; }
